*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}
nav>article{
    height: 100%;
    width: 80%;
    /* background-color: aqua; */
    display: flex;
}
nav>article>div.logo{
    height: 100%;
    width: 35%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}

nav>article>.logo>svg{
    width: 30%;
    fill: white;
    
}

nav>article>.menu{
    height: 100%;
    width: 50%;
    /* background-color: blue; */
}
nav>article>.menu>ol{
    height: 100%;
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}
nav>article>.menu>ol>li>a{
    color:white;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
#homepage{
    height: 90vh;
    width: 100%;
    background: url(./bubbles-dktp.svg)center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    display: flex;
    justify-content: center;
    align-items: end;
}
/* section>article{
    height: 80%;
    width: 100%;
    background-color: blueviolet;
    justify-content: center;
} */
/* section>article>div.outer{
    height: 80%;
    width:30%;
    border: 2px solid white;
    border-top: ;
    border-radius: 20px;

} */
 #homepage>article{
    height: 80%;
    width: 80%;
    background-color: aqua;
    display: flex;
    justify-content: center;

 }
 #homepage>article>div.mobile{
    height: 100%;
    width: 40%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: end;
    
 }
 #homepage>article>div.mobile>div{
    height: 90%;
    width: 60%;
    border: 2px solid white;
    border-radius: 30px 30px 0px 0px;
    background-color: white;
    justify-content: center;
    align-items: flex-end;
 }
 #homepage>article>div.mobile>div>div.box{
    height: 15%;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
     align-items: center;
    
 }
 #homepage>article>div.mobile>div>div.box>div{
    height: 5px;
    width: 40px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;

 }
 #homepage>article>div.mobile>div>div.image{
    height:85%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
 }
 #homepage>article>div.mobile>div>div.image>img{
    height: 100%;
    width: 95%;
 }
 #homepage>article>div.info{
    height: 100%;
    width: 60%;
    background-color: brown;
 }